{
  "parser"  : "babel-eslint",
  "plugins": [
    "import"
  ],
  "extends" : ["airbnb"],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test.jsx"]}]
  },
  "globals": {
    "after": false,
    "afterEach": false,
    "before": false,
    "beforeEach": false,
    "console": false,
    "describe": false,
    "document": false,
    "enzyme": false,
    "expect": false,
    "jest": false,
    "module": false,
    "process": false,
    "require": false,
    "test": false,
    "window": false
  },
  "settings": {
    "import/ignore": [
      "node_modules",
      "\\.json$"
    ],
    "import/parser": "babel-eslint",
    "import/resolve": {
      "extensions": [
        ".js",
        ".jsx",
        ".json"
      ]
    }
  }
}
